@model WebApplication1.Models.ExerciseType

@{
    ViewData["Title"] = "Usuwanie typu ćwiczeń";
}

<h1>Usuwanie</h1>

<h3>Czy jesteś pewny, że chcesz usunąć ten typ ćwiczeń?</h3>
<div>
    <h4>Typ ćwiczenia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" style="margin-top:10px" /> |
        <a asp-action="Index" style="margin-top:10px">Wróć do listy ćwiczeń</a>
    </form>
</div>
