@model WebApplication1.Models.ExerciseType

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły typu ćwiczeń</h1>

<div>
    <h4>ExerciseType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="margin-top:10px">Edytuj</a> |
    <a asp-action="Index" style="margin-top:10px">Wróć do listy typów ćwiczeń</a>
</div>
