@model IEnumerable<WebApplication1.Models.Statistics>

@{
    ViewData["Title"] = "Statystyki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center mb-4">Twoje statystyki z ostatniego miesiąca</h1>
    @if (Model.Any())
    {
           <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ćwiczenie</th>
                    <th scope="col">Największa wzięta waga</th>
                    <th scope="col">Data ostatniego treningu</th>
                    <th scope="col">Ilość sesji ćwiczenia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ExcerciseType</td>
                        <td>@item.BestStat</td>
                        <td>@item.StartDate.ToString("dd-MM-yyyy")</td>
                        <td>@item.SessionCount</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>

    }
    else
    {
        <h2 style="text-align:center">Brak statystyk.</h2>
    }
</div>