@{
    ViewData["Title"] = "Aplikacja do śledzenia treningów";
}

<div class="text-center">
    <h1 class="display-4">Witaj w aplikacji do śledzenia treningów i postępów!</h1>
</div>

<div class="container mt-5">
    <h2>Przykładowe treningi siłowe</h2>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Trening Siłowy - Dzień 1</h5>

            <ul>
                <li>Przysiad ze sztangą - Serie: 4, Powtórzenia: 8</li>
                <li>Wyciskanie sztangi leżąc - Serie: 3, Powtórzenia: 10</li>
                <li>Wiosłowanie sztangą - Serie: 4, Powtórzenia: 12</li>
            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Trening Siłowy - Dzień 2</h5>

            <ul>
                <li>Martwy ciąg - Serie: 5, Powtórzenia: 5</li>
                <li>Wyciskanie hantli siedząc - Serie: 3, Powtórzenia: 12</li>
                <li>Podciąganie na drążku - Serie: 4, Powtórzenia: 10</li>
            </ul>
        </div>
    </div>

</div>