@model WebApplication1.Models.Goals

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="GoalType" class="control-label">Cel:</label>
        <select asp-for="GoalType" class="form-control">
            <option value="1">Podnieść Ciężar</option>
            <option value="2">Schudnąć</option>
        </select>
        <span asp-validation-for="GoalType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mass" class="control-label">Aktualna masa:</label>
        <input asp-for="Mass" class="form-control" />
        <span asp-validation-for="Mass" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MassGoal" class="control-label">Cel masy:</label>
        <input asp-for="MassGoal" class="form-control" />
        <span asp-validation-for="MassGoal" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="WeightGoal" class="control-label">Docelowy ciężar:</label>
        <input asp-for="WeightGoal" class="form-control" />
        <span asp-validation-for="WeightGoal" class="text-danger"></span>
    </div>

    <!-- Dodaj inne pola formularza zgodnie z modelem -->

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
