@model WebApplication1.Models.Goals

@{
    ViewData["Title"] = "Tworzenie celu";
}

<h1>Tworzenie celu</h1>

<form asp-action="Create" id="goalForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="GoalType" class="control-label">Cel:</label>
        <select asp-for="GoalType" class="form-control" id="goalType">
            <option value="1">Podnieść Ciężar</option>
            <option value="2">Schudnąć</option>
        </select>
        <span asp-validation-for="GoalType" class="text-danger"></span>
    </div>

    <div class="form-group" id="massGroup">
        <label asp-for="Mass" class="control-label">Aktualna masa:</label>
        <input asp-for="Mass" class="form-control" />
        <span asp-validation-for="Mass" class="text-danger"></span>
    </div>

    <div class="form-group" id="massGoalGroup">
        <label asp-for="MassGoal" class="control-label">Cel masy:</label>
        <input asp-for="MassGoal" class="form-control" />
        <span asp-validation-for="MassGoal" class="text-danger"></span>
    </div>

    <div class="form-group" id="weightGoalGroup">
        <label asp-for="WeightGoal" class="control-label">Docelowy ciężar:</label>
        <input asp-for="WeightGoal" class="form-control" />
        <span asp-validation-for="WeightGoal" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Utwórz" class="btn btn-primary" style="margin-top:10px" />
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#massGroup, #massGoalGroup").hide();

            $("#goalType").change(function () 
            {
                var selectedValue = $(this).val();
                if (selectedValue == "1") 
                {
                    $("#massGroup, #massGoalGroup").hide();
                    $("#weightGoalGroup").show();
                } 
                else if (selectedValue == "2") 
                {
                    $("#massGroup, #massGoalGroup").show();
                    $("#weightGoalGroup").hide();
                } 
                else 
                {
                }
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}