@model WebApplication1.Models.Session

@{
    ViewData["Title"] = "Tworzenie sesji treningowej";
}

<h1>Utwórz sesję treningową</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Start" class="control-label">Początek sesji</label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label">Koniec sesji</label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionName" class="control-label">Nazwa sesji</label>
                <input asp-for="SessionName" class="form-control" />
                <span asp-validation-for="SessionName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" style="margin-top:10px" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="margin-top:10px" >Wróc do listy sesji</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
